body{
	/*font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;*/
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button1{
	height: 35px;
	background: #35424a;
	border: 0;
	padding: 0 20px 0 20px;
	color: #fff;
}
/*.dark{
	padding: 15px;
	background: #e8491d;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}*/

.green{
	padding: 15px;
	background: #056608;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Header*/
header{
	background: #056608; 
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #35424a 4px solid;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #design{
	float: left;
}

header #design h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color: yellow;
	font-weight: bold;
}
header a:hover{
	color: #aaa;
	font-weight: bold;
}

/*showcase*/
#showcase{
	min-height: 400px;
	background: url('../img/mayah.jpg') no-repeat center fixed;
	background-size: cover;
	color: yellow;
	border-bottom: #35424a 4px solid;
	text-align: center;
}

#showcase h1{
	margin-top: 100px;
	font-size: 50px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

/*newsletter*/
#newsletter{
	padding: 15px;
	color: #fff;
	background: #056608;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*boxes*/
#boxes{
	margin-top: 20px;
}
#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 150px;
}

#boxes .price{
	color: red;
	font-weight: bold;
}

/* sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 200px;
}

aside.sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}

/*article*/
article#art{
	float: left;
	width: 65%;
}

article .art{
	float: left;
	width: 65%;
	align-items: center;
}

/*services*/
#Services li{
	list-style: none;
	padding: 20px;
	border: #ccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

#Service li{
	list-style: none;
	padding: 20px;
	border: #ccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

.page-title{
	color: #056608;
	font-size: 32px;
}

.page-subtitle{
	color: #056608;
	font-size: 16px;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background: #35424a;
	text-align: center;
}

footer a {
	color: green;
}

/*dropdown menu design*/


li.dropdown {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}

/*Calculator styling*/
#calc{
	background-color: /*#334d4d*/ green;
	/*margin: 50px;*/
	width: 350px;
	height: 550px;
	margin: 0 auto;			/* horizontally centreing an element */
	border-radius: 20px;
	padding: 10px;
	margin-top: 40px;
}

#screen{
	background-color: #d1e0e0;
	width: 330px;
	height: 100px;
	border-radius: 20px;
	margin: 0 auto;	
	font-size: xx-large;
	color: #000000;
	text-align: center;

}

table{
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 20px;
}

td{
	width: 110px;
	height: 60px;
	text-align: center;
	font-size: xx-large;

}

.orange{
	color: #ff3300;
}

td:active{
	background-color: #e0e0d1;
	border-radius: 20px;
}

.ageCalculator{
	border: 5px solid green;
	margin: 30px;
	padding: 30px;
}

